@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

$custom-colors: (
  c_blue: #5095ec,
  c_black: #505050,
  c_second_tx: #8f8f8f,
  c_grey: #d3d8de,
  c_bg: #f1f1f1,
  c_white: #ffffff,
  c_bg2: #fafafa,
);

$theme-colors: map-merge($theme-colors, $custom-colors);
$enable-cssgrid: true;

@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
  font-size: 14px;
  color: #505050;
  background-color: #f1f1f1;
  overflow-y: scroll;
  height: 100vh;
}
